<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Patrick+Hand&family=Roboto+Serif&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
  </head>
  <body id="back">
  <div class="container">
    @RenderBody()
  </div>
  @await Html.PartialAsync("Footer")
  </body>
</html>