@{
  Layout = "_Layout";
}

@model Filmography.Models.Director

<header>
  <p><strong>@Html.ActionLink("DIRECTORS", "Index")</strong></p>
</header>
<div id="push"></div>
<h4>Add Director:</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DirectorName)
  @Html.TextBoxFor(model => model.DirectorName)
  <input type="submit" value="Add New Director" />
}