@{
  Layout = "_Layout";
}

@model Filmography.Models.Director
<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.DirectorName): @Html.DisplayFor(model => model.DirectorName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")