@{
  Layout = "_Layout";
}

@using Filmography.Models;
@model List<Filmography.Models.Director>;

<header>
  <p>@Html.ActionLink("ADD NEW DIRECTOR", "Create", "Directors")</p>
</header>

<h1>Directors</h1>

@if (@Model.Count == 0)
{
  <h3>No directors have been added yet!</h3>
} 

@foreach (Director director in Model)
{
  <li><em><strong>@Html.ActionLink($"{director.DirectorName}", "Details", new { id = director.DirectorId })</strong></em></li>
}
<div id="get-low"></div>