@{
  Layout = "_Layout";
}

@model Filmography.Models.Actor

<header>
  <p><strong>@Html.ActionLink("ACTORS", "Index")</strong></p>
</header>
<div id="push"></div>
<h4>Add an Actor:</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ActorName)
  @Html.TextBoxFor(model => model.ActorName)
  <input type="submit" value="Add new Actor" />
}