@{
  Layout = "_Layout";
}

<header>
  <p><strong>@Html.ActionLink("ACTORS", "Index")</strong></p>
</header>

@model Filmography.Models.Actor
<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.ActorName): @Html.DisplayFor(model => model.ActorName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<div id="get-low"></div>