@{
  Layout = "_Layout";
}
<header>
  <h1>Welcome to the Movie Database</h1>
</header>
<div id="push"></div>
<h3>Please select from our following options:</h3>
<br>
  <p><strong>@Html.ActionLink("MOVIES", "Index", "Movies")</strong></p>
  <p><strong>@Html.ActionLink("ACTORS", "Index", "Actors")</strong></p>
  <p><strong>@Html.ActionLink("DIRECTORS", "Index", "Directors")</strong></p>
  <p><strong>@Html.ActionLink("COMPOSERS", "Index", "Composers")</strong></p>