@{
  Layout = "_Layout";
}

@model Filmography.Models.Movie;

<header>
  <p><strong>@Html.ActionLink("MOVIES", "Index")</strong></p>
</header>
<div id="push"></div>
<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.MovieName): @Html.DisplayFor(model => model.MovieName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}