@{
  Layout = "_Layout";
}

@using Filmography.Models;
@model List<Filmography.Models.Movie>;

<header>
  <p><strong> @Html.ActionLink("ADD NEW MOVIE", "Create", "Movies")</strong></p>
</header>
<div id="push"></div>
<h1>Films</h1>

@if (@Model.Count == 0)
{
  <h3>No films have been added yet!</h3>
} 

@foreach (Movie movie in Model)
{
  <li><em><strong>@Html.ActionLink($"{movie.MovieName}", "Details", new { id = movie.MovieId })</strong></em></li>
}